<%- include('common/header'); -%>
<%- include('components/navigation', { user: user }); -%>
<main>
  <section class="movie">
    <img src="<%= movie.image %>" class="movie-image-big" />

    <div class="movie-info">
      <a class="movie-name">
        <%= movie.title %>
      </a>
      
      <p style="margin-bottom: 2rem;">
        <% for(const genre of movie.genres) {%>
          <span class="tag"><%= genre %></span>
        <% } %>
      </p>
      
      <p class="director"><%= movie.director %></p>
      <p style="font-size: 0.9rem;"><%= movie.year %></p>
      <%- include('components/rating', {rating: movie.rating}); %>
      <% if (user) { %>
        <div class="movie-actions">
          <% if (planned) { %>
            <form action="/bookmarks/to-watch/remove" method="post">
              <input type="hidden" name="movieId" value="<%= movie.id %>" />
              <input type="hidden" name="userId" value="<%= user.id %>" />
              <button type="submit" class="button button-yellow"><i class="fa-solid fa-minus"></i> Видалити зі списку до перегляну</button>
            </form>
          <% } else { %>
            <form action="/bookmarks/to-watch" method="post">
              <input type="hidden" name="movieId" value="<%= movie.id %>" />
              <input type="hidden" name="userId" value="<%= user.id %>" />
              <button type="submit" class="button button-green"><i class="fa-solid fa-list-ul"></i> Хочу переглянути</button>
            </form>
          <% } %>

          <% if (watched) { %>
            <form action="/bookmarks/watched/remove" method="post">
              <input type="hidden" name="movieId" value="<%= movie.id %>" />
              <input type="hidden" name="userId" value="<%= user.id %>" />
              <button type="submit" class="button button-yellow"><i class="fa-solid fa-minus"></i> Видалити зі списку переглянутих</button>
            </form>
          <% } else { %>
            <form action="/bookmarks/watched" method="post">
              <input type="hidden" name="movieId" value="<%= movie.id %>" />
              <input type="hidden" name="userId" value="<%= user.id %>" />
              <button type="submit" class="button button-green"><i class="fa-solid fa-list-ul"></i> Вже бачив</button>
            </form>
          <% } %>          
        </div>
      <% } %>
      <p>
        <%= movie.description %>
      </p>
    </div>    
  </section>
  <section class="comments">
    <h2>Коментарі</h2>

    <% if (user) { %>
      <form class="comment" action="/movies/<%=movie.id%>/comments" method="post">        
        <input type="hidden" name="userId" value="<%= user.id %>" />
        <textarea name="text" class="comment-input" placeholder="Ваш коментар"></textarea>
        <button type="submit" class="button button-primary">Додати коментар</button>
      </form>
    <% } %>

    <ul>
      <% for(const comment of movie.comments) {%>
        <li>
          <p><span class="author"><%= comment.author %></span> <%= comment.createdAt %></p>
          <p><%= comment.text %></p>
        </li>
      <% } %>
    </ul>
  </section>
</main>

<% if (user) { %>
<!-- Редагування рейтингу фільму, якщо користувач зареєстрований  -->
<script type="text/javascript">
  const rating = document.querySelector('.rating');

  const displayRating = (r) => {
    for (var j = 0; j < rating.children.length; j++) {
      const star = rating.children[j];
      if (j < r) {
        star.classList.add('filled-star');
      } else {
        star.classList.remove('filled-star');
      }
    }
    rating.querySelector('.rating-number').textContent = r;
  }
  
  // на виході миші з рейтингу скинути рейтинг на попередній
  rating.addEventListener('mouseout', function() {
    displayRating(rating.dataset.rating);
  });

  for (var i=0; i < rating.children.length; i++) {
    const star = rating.children[i];    
    star.style.cursor = 'pointer';    
    const index = i + 1;

    // при наведенні миші тимчасово показати рейтинг під курсором
    star.addEventListener('mouseover', function() {
      displayRating(index);
    });    

    // при кліку відправити рейтинг на сервер
    star.addEventListener('click', function() {
      fetch('/movies/<%= movie.id %>/rating', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ rating: index })
      }).then(response => {
        if (response.ok) {
          response.json().then(resp => {
            rating.dataset.rating = resp.rating;
            displayRating(resp.rating);
          });
          displayRating(index);
        }
      });
    });
  }
</script>
<% } %>
<%- include('common/footer'); -%>
